

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 18px;
}

.sidebar-icon {
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
}

.sidebar-text {
}
.sidebar-item {
    position: relative;
    overflow: hidden;
}

    .sidebar-item::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0; 
        background: linear-gradient(90deg, rgba(120, 118, 168, 0.70) 0%, rgba(255, 255, 255, 0.00) 100%);
        transition: width 0.3s ease; 
    }

    /* Apply gradient to active item */
    .sidebar-item.active::after {
        width: 100%;
    }

    /* Apply gradient to hovered item */
    .sidebar-item.hovered::after {
        width: 100%;
    }

/* When an item is hovered, remove gradient from active item */
.sidebar-container.item-hovered .sidebar-item.active:not(.hovered)::after {
    width: 0;
}


.sidebar-text{
    font-weight: 600;
}


