.header-bar {
    background-color: white;
    color: black; 
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eceef0;
    position: fixed;
    z-index: 100;
    top: 0;
}

.header-left-corner-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
}

.header-right-corner-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    gap: 8px;
}
.header-center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.header-bar .navident-logo {
    height: 30px;
    cursor: pointer;
}

.header-center-container, .header-right-corner-container {
    position: relative; 
}



