.edit-procedures-container{
    background-color: white;
    width: 100%;
    height: fit-content;
}

.edit-procedures-inner{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.large-text {
    font-size: 18px;
    font-weight: 600;
}

.large-text-bold {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
}


.centered-title {
    text-align: center;
    font-size: 21px;
}

.edit-procedures-table-outer-header {
}

.edit-procedures-inner .tx-table td{
    text-align: center;
}

.edit-procedures-inner .table-inner-header th{
    text-align: center
}

.edit-procedures-inner .tx-table {
    border-right: 1px solid #7777a1;
}

.edit-procedures-row{
    display:flex;
}

.edit-procedures-inner td{
    position:relative;
}

.edit-button{
    position:absolute;
    right: 12px;
}