.create-new-patient-container {
    margin: auto;
    padding: 40px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
}

.create-new-patient-wrapper {
    padding: 60px;
    margin: auto 0;
}