

.visit-separator td {
    padding: 10px;
}

.visit-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.visit-number {
    font-weight: bold;
    text-align: left;
}



.treatment-plan-output-section {
    flex-grow: 1;
    background-color: white;
}

.treatment-plan-output-section-inner {
    padding: 20px;
    height: 100%;
}


.extra-row {
    position: relative;
}

.dynamic-table-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
