.procedure-customizer-wrapper .large-text {
    text-align: left;
}

.procedure-customizer-wrapper .edit-procedures-inner .table-inner-header th {
    text-align: left;
}


.procedure-customizer-wrapper .edit-procedures-inner .tx-table td {
    text-align: left;
}


.procedure-customizer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    min-width: 100%;
    width: fit-content;
}