.signup-wrapper .login-signup-header.large-text{
    text-align: center;
}
.signup-wrapper .login-signup-content {
    border: 1px solid #666666;
    padding: 40px;
    border-radius: 20px;
}

.signup-wrapper .login-signup-header.large-text {
    margin: 0 auto;
}