

.dashboard-right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
}

.dashboard-right-side-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.dashboard-right-side-row-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px;
    gap: 20px;
    position: relative;

}
.dashboard-right-side-row:nth-child(n+2) .large-text::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #EAEBEB;
    width: 100%;
    margin-top: 15px;
}

.dashboard-right-side-row-top-text-section {
    color: #4a5759;
    padding-right: 60px;
}
.dashboard-text-header{
    font-size: 36px;
}
.dashboard-right-side-row:nth-child(n+2) {
    flex-grow: 1;
}

.dashboard-right-side-row-box-bottom-section {
    flex-grow: 1;

}
.first-box .dashboard-right-side-row-box-bottom-section {
    background-color: #F6F8FE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.first-box .dashboard-right-side-row-box-bottom-section img{
    cursor: pointer;
}
.dashboard-right-side-row:first-child {
    align-items: center;
}
